body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}

h2 {
    text-align: center;
}

.screenshot_img {
    padding: 25px;
    margin: 0px 10px 50px 10px;
    border: 2px solid black;
}

.table_container {
    display: grid;
    justify-content: center;
    text-align: center;
}

.contact_container {
    display: flex;
    justify-content: center;
}

.about {
    margin-bottom: 50px;
}

footer {
    text-align: center;
    margin-top: 50px;
}

.about_me_paragraph {
    font-size: medium;
}

.who_am_i_paragraph {
    font-size: medium;
}

.back_container {
    margin-top: 100px;
}

.contact_ct {
    margin: 50px;
}

.contact_img {
    margin-right: 20px;
    margin-left: 20px;
}

p {
    font-weight: 600;
}